#hawLogo {
    --outline: theme("colors.mantineFg");
    filter: drop-shadow(2px 0px 0px var(--outline))
        drop-shadow(-2px 0px 0px var(--outline))
        drop-shadow(0px 2px 0px var(--outline))
        drop-shadow(0px -2px 0px var(--outline));
    -webkit-filter: drop-shadow(2px 0px 0px var(--outline))
        drop-shadow(-2px 0px 0px var(--outline))
        drop-shadow(0px 2px 0px var(--outline))
        drop-shadow(0px -2px 0px var(--outline));
}

.notes .mantine-RichTextEditor-toolbar {
    max-height: 3.5rem;
}

.notes .mantine-RichTextEditor-toolbarInner {
    max-height: 3rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-color: theme("colors.zinc.500") transparent;
    scrollbar-width: thin;
}
.notes .mantine-RichTextEditor-toolbarGroup {
    flex-wrap: nowrap;
    
}

.notes .mantine-Modal-modal {
    height: 100vh;
}

.notes .mantine-Modal-inner {
    padding: 0;
    height: 100vh;
}

.notes .ql-editor {
    height: calc(100vh - 9rem);
    overflow-y: scroll;
    scrollbar-color: theme("colors.zinc.500") transparent;
    scrollbar-width: thin;
}
.notes .ql-action {
    word-break: normal;
}

.notes ul li {
    list-style-type: disc;
}
.notes ol li {
    list-style-type: decimal;
}


.dozent .mantine-Button-root {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2.75rem;
}

.btn-text-left .mantine-Button-inner {
    justify-content: left;
}
.btn-space-between .mantine-Button-inner {
    justify-content: space-between;
}

.dozent .profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#stundenListe {
    height: calc(100vh - (70px + 16px + 40px + 10px));
    padding-bottom: 16px;
}

.tab-content {
    max-height: calc(100vh - (70px + 1rem + 40px + 10px + 1rem));
    overflow-y: scroll;
    scrollbar-color: theme("colors.zinc.500") transparent;
    scrollbar-width: thin;
}

.stundenTabelle {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
}

.stundenTabelle div {
    background-color: theme("colors.mantineBg");
    border-radius: 0.25rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .stundenTabelle {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .stundenListe {
        display: none;
    }
}

#hidden {
    display: none;
}
