#hawLogo {
    --outline: theme("colors.mantineFg");
    filter: drop-shadow(2px 0px 0px var(--outline))
        drop-shadow(-2px 0px 0px var(--outline))
        drop-shadow(0px 2px 0px var(--outline))
        drop-shadow(0px -2px 0px var(--outline));
    -webkit-filter: drop-shadow(2px 0px 0px var(--outline))
        drop-shadow(-2px 0px 0px var(--outline))
        drop-shadow(0px 2px 0px var(--outline))
        drop-shadow(0px -2px 0px var(--outline));
}

.notes .mantine-Modal-inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.notes .ql-editor {
    max-height: calc(100vh - 11rem);
    overflow-y: scroll;
    scrollbar-color: theme("colors.zinc.500") transparent;
    scrollbar-width: thin;
}
.notes .ql-action {
    word-break: normal;
}

.dozent .mantine-Button-root {
    padding: 0.5rem;
    height: 2.75rem;
}

.btn-text-left .mantine-Button-inner {
    justify-content: left;
}
.btn-space-between .mantine-Button-inner {
    justify-content: space-between;
}

.dozent .profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#stundenListe {
    height: calc(100vh - (70px + 16px + 40px + 10px));
    padding-bottom: 16px;
}

.stundenTabelle {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
}

.stundenTabelle div {
    background-color: theme("colors.mantineBg");
    border-radius: 0.25rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 1200px) {
    .stundenTabelle {
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .stundenListe {
        display: none;
    }
}

#hidden {
    display: none;
}
