#hawLogo {
    --outline: white;
    filter: drop-shadow(1px 0px 0px var(--outline))
        drop-shadow(-1px 0px 0px var(--outline))
        drop-shadow(0px 1px 0px var(--outline))
        drop-shadow(0px -1px 0px var(--outline));
    -webkit-filter: drop-shadow(1px 0px 0px var(--outline))
        drop-shadow(-1px 0px 0px var(--outline))
        drop-shadow(0px 1px 0px var(--outline))
        drop-shadow(0px -1px 0px var(--outline));
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#stundenListe {
    height: calc(100vh - (70px + 16px + 40px + 10px));
    padding-bottom: 16px;
}

.stundenTabelle {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
}

.stundenTabelle div {
    background-color: theme("colors.zinc.900");
    border-radius: 0.25rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 1200px) {
    .stundenTabelle {
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .stundenListe {
        display: none;
    }
}

#hidden {
    display: none;
}